@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --color-brand-primary: #002A54;
  --color-brand-secondary: #4D9DE0;
  --color-brand-accent: #115599;
}

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    color: #1f2937;
    background-color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}